.gameTable{
    display: flex;    
    gap: 10px;
    flex-direction: column;
}
.row{
    display: flex;
    gap: 0px 10px;
}
.card{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background: red;
}
.open{
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 28px;
}